# ── Base de datos ─────────────────────────────────────
# Pedir el string de conexión al responsable del proyecto
DATABASE_URL=postgresql://usuario:contraseña@host/velasartesanalesDB?sslmode=require

# ── Servidor ──────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ── Autenticación JWT ─────────────────────────────────
JWT_SECRET=cambia_esto_por_un_secreto_seguro
JWT_EXPIRES_IN=7d

# ── Frontend (para CORS) ──────────────────────────────
CLIENT_URL=http://localhost:5173

# ── Resend ────────────────────────────────────────────
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
CORREO_REMITENTE=noreply@tudominio.com
CORREO_ADMIN=admin@tudominio.com

# ── Paypal ────────────────────────────────────────────
PAYPAL_CLIENT_ID=tu_client_id
PAYPAL_CLIENT_SECRET=tu_client_secret
PORT=3000

# ── REDSYS ──────────────────────────────────────────────────────────────────
REDSYS_MERCHANT_CODE=999008881
REDSYS_MERCHANT_KEY=sq7HjrUOBfKmC576ILgskD5srU870gJ7
REDSYS_TERMINAL=18
REDSYS_ENVIRONMENT=test

REDSYS_NOTIFICATION_URL=https://TU-NGROK.ngrok.io/api/pagos/redsys/notificacion
REDSYS_SUCCESS_URL=http://localhost:5173/pago/exito
REDSYS_ERROR_URL=http://localhost:5173/pago/error